@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #143F59;
    --cor02: #03738C;
    --cor03: #F26E22;
    --cor04: #D94711;
}

header > h1 {
    text-align: right;
    padding: 10px;
    background-color: #D94711;
}



header {
 background-image: url(imagem/publico.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center ;
 width: 800px;
}